Users/Users.Api/bin/*
Users/Users.Api/obj/*
Users/Users.Api/.idea/*
build.proj
.idea
.vscode
Users.UnitTests/bin/*
Users.UnitTests/obj/*
Users.UnitTests/.idea/*

Users/Users.UnitTests/bin/*
Users/Users.UnitTests/obj/*
Users/Users.UnitTests/.idea/*